<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Online Shopping Store</title>
</head>
<body>
    <header>
        <h1>Welcome to My Shopping Kart</h1>
        <img src="~/images/Shoppingcart1.jpg" alt="My Shopping Kart Logo" />

    </header>
    @* <form action="/Product/Search">
        <div>
            <input type="text" placeholder="Search.." name="searchKeyword">
            <button type="submit">Submit</button>

        </div>
    </form> *@

</body>
</html>
