
<html>
    <style>
        .Checkout{
            position:center;
            margin-left:30%;
      
        }

    .order-number {
       
        color:red;
        padding: 5px 10px;
        border-radius: 5px;}
    </style>

    <div class="Checkout">
    <h1>Order Placed Successfully!</h1>
</div>

    <p>Thank you for your order. Your order with<span class="order-number">OrderNumber:QAZ1234</span> has been successfully placed.</p>
    <h4>Happy Shopping!</h4>

<div>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
</div>

   
    

</html>